body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #fdfbfb, #ebedee);
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  color: white;
  padding: 30px 10px;
  border-bottom: 5px solid #ff6600;
}

h1 {
  font-size: 2.5em;
  margin: 10px 0;
}

p {
  font-size: 1.2em;
}

#product-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

#product-img:hover {
  transform: scale(1.1);
}

h2 {
  color: #ff6600;
  font-size: 1.8em;
  margin-top: 10px;
}

button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff3300;
}

footer {
  margin-top: 30px;
  padding: 15px;
  background-color: #000;
  color: white;
  font-size: 0.9em;
}
